# GitHub 配置
# GitHub 访问令牌
# 获取方式：https://github.com/settings/tokens
# 权限：repo -> public_repo
GITHUB_TOKEN=your_github_token_here
GITHUB_REPO_OWNER=SmulllLu
GITHUB_REPO_NAME=packages-index
GITHUB_BASE_BRANCH=pr

# 仓库配置
# packages-index 仓库 URL
PACKAGES_INDEX_URL=https://mirror.iscas.ac.cn/git/ruyisdk/packages-index.git
# 是否使用中科院镜像
USE_RUYI_ISCAS_MIRROR=true

# 数据库配置
# DATABASE_URL=sqlite:///cache/riko/riko.db
# DATABASE_ECHO=false

# 应用配置
# RIKO_ENV=development
# RIKO_DEBUG=false

# 日志配置
# LOGGING_LEVEL=INFO
# LOGGING_FILE=

# Telegram 配置
TELEGRAM_TOKEN=

HTTP_PROXY= # HTTP 代理
HTTPS_PROXY= # HTTPS 代理
