# GitHub configuration
# GitHub access token
# Get one at: https://github.com/settings/tokens
# Permissions: repo -> public_repo
GITHUB_TOKEN=your_github_token_here
GITHUB_REPO_OWNER=SmulllLu
GITHUB_REPO_NAME=packages-index
GITHUB_BASE_BRANCH=pr

# Repository configuration
# packages-index repository URL
PACKAGES_INDEX_URL=https://mirror.iscas.ac.cn/git/ruyisdk/packages-index.git
# Whether to use the ISCAS mirror
USE_RUYI_ISCAS_MIRROR=true

# Database configuration
# DATABASE_URL=sqlite:///cache/riko/riko.db
# DATABASE_ECHO=false

# Application configuration
# RIKO_ENV=development
# RIKO_DEBUG=false

# Logging configuration
# LOGGING_LEVEL=INFO
# LOGGING_FILE=

# Telegram configuration
TELEGRAM_TOKEN=

HTTP_PROXY= # HTTP proxy
HTTPS_PROXY= # HTTPS proxy
